.navbar_father {
    width: 100%;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.1);
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
}

.navbar {
    display: flex;
    width: 100%;
    position: sticky;
    top: 0;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

.logo_conteiner {
    display: flex;
    margin-left: 8%;
}

.logo {
    font-weight: bold;
    font-size: 26px;
    text-transform: uppercase ;
    color: black;
    text-decoration: none;
    
}

.img_logo {
    width: 2.5rem;
}

.nav_list {
    list-style: none;
    display: flex;
    margin-right: 8%;
}

.nav_list li {
    padding: .1rem .4rem;
}

.nav_list li a {
    text-decoration: none;
    font-weight: 500;
}

a {
    color: black;
}

.active {
    color: grey;

}

.nav_list li a {
    text-decoration: none;
    font-weight: 500;
}

.responsive_dashboard {
    display: none;
    margin-right: 10%;
    font-size: 18px;
}

@media only screen and (max-width: 600px) {
  .logo {
    font-size: 1.4rem;
  }
  .nav_list {
    display: none;
  }
  .responsive_dashboard {
    display: block;
  }
}

