.navbar {
    display: flex;
    width: 100%;
    position: sticky;
    top: 0;
    justify-content: center;
    align-items: center;
    height: 2rem;
    box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.1);
    background-color: rgba(255, 255, 255, .9);
    backdrop-filter: blur(4px);
}

.nav_list {
    list-style: none;
    display: flex;
    margin-right: 8%;
}

.nav_list li {
    padding: .1rem .4rem;
}

.nav_list li a {
    text-decoration: none;
    font-weight: 500;
}

a {
    color: black;
}

.active {
    color: grey;

}

.nav_list li a {
    text-decoration: none;
    font-weight: 500;
}