.conteiner {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 60vh;
}

.postsConteiner {
    display: grid;
    grid-template-columns: repeat(2, 22rem);
    column-gap: 2rem;
}

.returnHome {
    border: 2px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    border-radius: .2rem;
    margin-top: 4rem;
    text-align: center;
}

.returnHome p {
    font-weight: 500;
    font-size: 14px;
}

@media only screen and (max-width: 800px) {
    .postsConteiner {
        grid-template-columns: repeat(1, 22rem); 
    }
}

@media only screen and (max-width: 600px) {
    .img {
        width: 16rem;
        height: 16rem;
    }
    .postsConteiner {
        grid-template-columns: repeat(1, 20.2rem); 
    }

  }