.conteiner {
  min-height: 60vh;
  margin-bottom: 5rem;
}

.App {
  width: 100vw;
}

.loadingConteiner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loadingGif {
  height: 50%;
}