.conteiner {
  min-height: 60vh;
  margin-bottom: 5rem;
}

.App {
  width: 100vw;
}

.loadingConteiner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.loadingGif {
  height: 50%;
}

input {
    background-color: rgb(240, 240, 240);
    border: none;
    display: block;
    padding: .7rem;
    padding-left: 2rem;
    border-radius: .2rem;
    margin-top: .8rem;
    outline: none;
    color: grey;
}

button {
  margin-top: 1rem;
  padding: .2rem .6rem;
  font-size: 16px;
  font-weight: 550;
  border-radius: .5rem;
  border: 2px solid grey;
  color: grey;
  cursor: pointer;
}

button:hover {
  transition: .3s all;
  color: white;
  background-color: grey;
}